[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wagtail = ">=2.4,<2.5"
Django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
beautifulsoup4 = "*"

[requires]
